
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 60px;
  background-color: #cccccc;
}

.navbar-brand{

	background-color: #4aaaa5;
	color: white;
}

#MainContainer{

	background-image: url("images/cork-wallet.png");
	height: 90%;
	
}

#linkPanel{
	align-items: left;
	//background-color: white;
}

#thumb1{

	float: left;
	margin: 15px;
	
}
/*.Connects{
	float: left;
   text-align: right;
   margin-left: 15px;
  }*/





